
{% extends "layout.html" %}

{% block content %}

<div id="Main">
    <form id="Form"  method="post" action="/store" enctype="multipart/form-data">

        <!-- Datos personales -->



            <div id="IMG">
                <img id="Logo" src="../static/AIP.jpeg" />
            </div>
                
                <div class="Inputs">
                        <label class="Labels" for="Nombre">
                            Nombre
                        </label>
                        <input type="text" placeholder="Nombre" id="Nombre" name="Nombre">
                        <br>
                        <label for="Apellido">
                            Apellido
                        </label>
                        <input type="text" placeholder="Apellido" id="Apellido" name="Apellido">
                        <br>
                        <label for="Nacionalidad">
                            Nacionalidad
                        </label>
                        <input type="text" placeholder="Nacionalidad" id="Nacionalidad" name="Nacionalidad">
                        <br>
                        <label for="DNI / PASAPORTE">
                            DNI / PASAPORTE
                        </label>
                        <input type="text" placeholder="DNI / PASAPORTE" id="DNI / PASAPORTE" name="PASAPORTE">
                        <br>
                        <label for="Edad">
                            Edad
                        </label>
                        <input type="text" placeholder="Edad" id="Edad" name="Edad">
                        <br>
                        <label for="Telefono">
                            Telefono
                        </label>
                        <input type="text" placeholder="Telefono" id="Telefono" name="Telefono">
                        <br>
                        <label for="TelefonoDeContacto">
                            Teléfono de contacto (amigo o familiar)
                        </label>
                        <input type="text" placeholder="Teléfono de contacto" id="TelefonoDeContacto" name="TelefonoDeContacto">
                        <br>


                </div>
                
                <!-- Cursos de interes -->

                
            
            <div class="Container">
                <label>Curso de interes</label>
                <div class="RadioBt">

                        <input class="LabelRd" type="radio" id="Ingles" name="Idiomas" value="Ingles">
                        <label class="Labels" for="Ingles">Ingles</label>
                        
                        <input class="LabelRd" type="radio" id="Espanol" name="Idiomas" value="Espanol">
                        <label class="Labels" for="Espanol">Español</label>
            

                </div>
            </div>

            <div class="Container">
                <label>Seleccione horario</label>
                <div class="RadioBt">
                        <input class="LabelRd" type="radio" id="Ingles" name="Horario" value="8:00 am - 10:00 am">
                        <label class="Labels" for="Ingles">8:00 am - 10:00 am</label>
                        <br>
                        <input class="LabelRd" type="radio" id="Espanol" name="Horario" value="10:00 am a 12:00 pm">
                        <label class="Labels" for="Espanol">10:00 am a 12:00 pm</label>
                        <br>
                        <input class="LabelRd" type="radio" id="Espanol" name="Horario" value="2:00 pm - 4:00pm">
                        <label class="Labels" for="Espanol">2:00 pm - 4:00pm</label>
                        <br>
                        <input class="LabelRd" type="radio" id="Espanol" name="Horario" value="4:00 pm - 6:00 pm">
                        <label class="Labels" for="Espanol">4:00 pm - 6:00 pm</label>
                        <br>
                        <input class="LabelRd" type="radio" id="Espanol" name="Horario" value="6:00 pm - 8:00 pm">
                        <label class="Labels" for="Espanol">6:00 pm - 8:00 pm</label>
                        <br>
                        <input class="LabelRd" type="radio" id="Espanol" name="Horario" value="SAB. 9 a. M. - 12 p. M">
                        <label class="Labels" for="Espanol">SAB. 9 a. M. - 12 p. M</label>
                        <br>
                        <input class="LabelRd" type="radio" id="Espanol" name="Horario" value="SAB. 2 P. M. - 5 P. M">
                        <label class="Labels" for="Espanol">SAB. 2 P. M. - 5 P. M</label>
                        <br>
                </div>
            </div>

            <div class="Container">
                <label>¿Sufres de alguna enfermedad?</label>
                <div class="RadioBt">
                        <label  for="Enfermedad">Especifica</label>
                        <br>
                        <input class="LabelRd" type="Text" id="Enfermedad" name="Enfermedad" placeholder="Asma...">

                        <br>
                        <label  for="TipoSangre">¿Cual es tu tipo de sangre?</label>
                        <br>
                        <input class="LabelRd" type="Text" id="TipoSangre" placeholder="O+" name="TipoSangre">
                        <br>

                </div>
            </div> 

            <div class="Container">
                <label>¿Cómo se enteró de nosotros?</label>
                <div class="RadioBt">
                        
                        <input class="LabelRd" type="radio" id="Facebook" name="Medios" value="Facebook">
                        <label  for="Facebook">Facebook</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Instagram" name="Medios" value="Instagram">
                        <label  for="Instagram">Instagram</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Volante" name="Medios" value="Volante">
                        <label  for="Volante">Me dieron un volante</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Marca" name="Medios" value="Marca">
                        <label  for="Marca">Vi el signo</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Conocido" name="Medios" value="Conocido">
                        <label  for="Conocido">Por un amigo o familiar</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Medios" name="Medios" value="Medios">
                        <label  for="Medios">Otros medios</label> 
                        <br>
                        
                </div>
            </div>

            <div class="Container">
                <label>Seleccione su nivel académico</label>
                <br>
                <div class="RadioBt">

                        
                        <input class="LabelRd" type="radio" id="Básico" name="NivelAcademico" value="Básico">
                        <label  for="Básico">Básico</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Bachillerato" name="NivelAcademico" value="Bachillerato">
                        <label  for="Bachillerato">Bachillerato</label> 
                        <br>
                        <input class="LabelRd" type="radio" id="Universidad" name="NivelAcademico" value="Universidad">
                        <label  for="Universidad">Universidad</label> 

                </div>
            </div>

            <div class="Compromisos">
                <label>Lea atentamente los siguientes compromisos.</label>
                <div class="RadioBt">
                    <ol>
                        <li>No faltes ni llegues tarde a clase y sé responsable de la tarea. </li>
                        <br>
                        <li>No ingerir ningún tipo de alimento sólido o líquido dentro de la academia. </li>
                        <br>
                        <li>Buena presentación personal y buen comportamiento en clase. </li>
                        <br>
                        <li>Cooperar en el buen funcionamiento de la academia y respetar a los demás. </li>
                        <br>
                        <li>El alumno debe participar en la clase para el desarrollo de sus habilidades y destrezas del idioma o curso técnico a cursar. </li>
                        <br>
                        <li>El alumno debe llegar temprano a clase. </li>
                        <br>
                        <li>Guarde silencio en el aula y en los pasillos, hable en voz baja. </li>
                        <br>
                        <li>Aceptar el cambio de horario en caso de problema con el tramo. </li>
                        <br>
                        <li>Cada nivel académico debe pagarse antes del inicio del período del curso. </li>
                        <br>
                        <li>La academia no desembolsa dinero ni cuotas de admisión. </li>
                    </ol>
                </div>
                
            </div>
            
            <button id="Save" type="submit">Save</button>
            </div>

            
    </form>
</div>
    {% endblock %}
